/* Styles spécifiques à la page Register */
.register-container {
  padding: var(--spacing-md);
}

.register-title {
  color: var(--primary-color);
  font-size: var(--font-size-xxlarge);
  margin-bottom: var(--spacing-lg);
  text-align: center;
}

.register-form {
  max-width: 500px;
  margin: 0 auto;
  padding: var(--spacing-md);
}

.register-input {
  margin-bottom: var(--spacing-md);
}

.register-button {
  margin-top: var(--spacing-lg);
}

.register-login-link {
  margin-top: var(--spacing-md);
  text-align: center;
}

.register-form-container {
  background-color: var(--light-color);
  border-radius: var(--border-radius-lg);
  padding: var(--spacing-lg);
  box-shadow: var(--box-shadow);
  margin-top: var(--spacing-xl);
}

.register-name-row {
  display: flex;
  gap: var(--spacing-md);
} 